{%extends "base.html"%}
    
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/edit_profile.css')}}">
{%endblock%}

{%block content%}
<body>

    {%include 'navbar.html'%}
    <div class="container">
    <div class="profile-box">
        <div class="profile-img">
            <h1>Olá, {{user.username}}</h1>
            <br>
            <button class="btn-end_sess">Terminar Sessão</button>
        </div>
    </div>
    <form action="/edit_profile" method="post">
    <div class= "right-info">
        <div class="card-info">
            <h2>Dados da Minha Conta</h2>
            <div class="textfield">
                <label for="uname"><b>Nome</b></label>
                <input id= "username" value="{{user.first_name}}"  type="text" placeholder="Nome" name="first_name" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Apelido</b></label>
                <input id="password"value="{{user.last_name}}" type="text" placeholder="Apelido" name="last_name" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Email</b></label>
                <input id="password" value="{{user.email}}" type="text" placeholder="Email" name="email" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Telemóvel</b></label>
                <input id="password" value="{{user.phone_number}}" type="text" placeholder="Telemóvel" name="phone_number" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Morada</b></label>
                <input id="password" value="{{user.address}}" type="text" placeholder="Morada" name="address" required>
        </div>
        <br>
        <div class="more-info">
            <h2>Alterar Password</h2>
            <div class="textfield"> 
                <label for="psw"><b>Password Atual</b></label>
                <input id="password" type="password" placeholder="Password Atual" name="password" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Nova Password</b></label>
                <input id="password" type="password" placeholder="Nova Password" name="new_password" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Confirmar Nova Password</b></label>
                <input id="password" type="password" placeholder="Confirmar Nova Password" name="confirm_new_password" required>
            </div>
            <button class="btn-save">Guardar Alterações</button>
        </div>
    </div>
    </form>
</body>
{% endblock %}