{% extends 'base.html' %}

<!-- Load Navbar -->
{% include 'navbar.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content %}


<html>
<body>
    <header>
        <h1>Deti Merch</h1>
    </header>
    <div class="row product-container">
        {%for product in products%}

        <div class="product col-md-12">
            <img src="{{url_for('static',filename='assets/'+ product.image)}}" alt="{{product.name}}">
            <h2>{{product.name}}</h2>
            <p></p>
            <p class="price">{{product.price|int}}€</p>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
            <button class="add-to-favorites">&#9733; </button>
        </div>
        {%if loop.index % 3 == 0 and not loop.last%}
    </div>
    <div class=" row product-container">
        {%endif%}
    {%endfor%}
</body>
</html>
{% endblock %}
