{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

<!-- Load Navbar -->
{% include 'navbar.html' %}

{% block content %}
<body>
<!-- Pagina login -->


<form action="/login" method="post">
    <div class="main">
        <div class="log">
            <h2>Entre na sua conta</h2>
            <div class="textfield">
                <label for="uname"><b>Email</b></label>
                <input id= "username" type="text" placeholder="Enter Username" name="username" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="password" required>
            </div>
            <button class="btn-login">Login</button>
        </div>
        <label for="NotRegistered">Cria já a tua conta!</label>
        <a href="/register">Registar</a>
    </div>
</form>
</body>

{% endblock %}