{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

<!-- Load Navbar -->
{% include 'navbar.html' %}


{% block content %}
<body>
<!-- Pagina login -->
<h1>LOGIN PAGE</h1>

<form action="/login" method="post">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id= "username" type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label for="NotRegistered">Not Registered?</label>
        <a href="/register">Register</a>
    </div>

{% endblock %}
