<DOCTYPE html>
{%extends "base.html"%}

{%block content%}
<body>
{%include "navbar.html"%}
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
</head>
    <div class="container">
        <div class="profile-box">
            <image class="profile-image" src="{{url_for('static', filename='images/profile.png')}}">
            <h3>Nome</h3>
            <p>INFORMAÇÕES</p>
        </div>
    </div>

</body>
{%endblock%}