<DOCTYPE html>
{%extends "base.html"%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">

{%block content%}
<body>
{%include "navbar.html"%}
<!-- Pagina de Perfil-->

<form action="/profile" method="post">
    <div class="main">
        <div class="log">
            <h2>Os seus dados</h2>
            <div class="textfield">
                <label for="uname"><b>Nome</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Sobrenome</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Email</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Telemóvel</b></label>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Morada</b></label>
            </div>
        </div>
        <label for="NotRegistered">Informação errada?</label>
        <a href="/edit_profile">Edita o teu Perfil!</a>
    </div>
</form>
</body>
{%endblock%}